<!doctype html>
<html lang="en" ng-app="citySensing">
<head>
  <meta charset="utf-8">
  <title>CitySensing</title>

  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="/static/client/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/client/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="/static/client/css/todc-bootstrap.css"/>
  <link rel="stylesheet" href="/static/client/css/leaflet.css"/>
  <link rel="stylesheet" href="/static/client/css/leaflet.ie.css"/>

  <link rel="stylesheet" href="/static/client/css/app.css"/>

</head>
<body>

  


  <div id="header" class="navbar navbar-masthead navbar-static-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a class="brand" href="#">CitySensing</a></li>
          <li> <p class="navbar-text muted">Fuorisalone 2013</p></li>

        </ul>
        
        <ul class="nav pull-right">
          <li><a href="#/about">About</a></li>

          {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user }}
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "logout" %}">Logout</a></li>
                </ul>
              </li>
              
                        
          {% else %}
            <li><a href="/login">Login</a></li>
          {% endif %}


        </ul>
      </div>
  </div>

{% block content %}{% endblock %}

<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->

  <script src="/static/client/lib/jquery/jquery.min.js"></script>
  <script src="/static/client/lib/jquery-ui/jquery-ui.min.js"></script>
  <script src="/static/client/lib/bootstrap/bootstrap.min.js"></script>
  <script src="/static/client/lib/d3/d3.v3.min.js"></script>
  <script src="/static/client/lib/underscore/underscore-min.js"></script>

  <script src="/static/client/lib/leaflet/leaflet.js"></script>
  <script src="/static/client/lib/stamen/tile.stamen.js"></script>
  <script src="/static/client/lib/topojson/topojson.js"></script>


  <!-- Our JavaScript functions for charts! -->
  <script src="/static/client/lib/citysensing/views.js"></script>
  <script src="/static/client/lib/citysensing/map.js"></script>
  <script src="/static/client/lib/citysensing/timeline.js"></script>

  <script src="/static/client/lib/angular/angular.js"></script>
  <script src="/static/client/lib/angular/angular-resource.min.js"></script>
  <script src="/static/client/lib/ui-bootstrap/ui-bootstrap-0.3.0.min.js"></script>

  <script src="/static/client/lib/restangular/restangular.min.js"></script>

  <script src="/static/client/js/app.js"></script>

  <!-- services -->
  <script src="/static/client/js/services/services.js"></script>
  <!-- controllers -->
  <script src="/static/client/js/controllers/main.js"></script>
  <!-- filters -->
  <script src="/static/client/js/filters/filters.js"></script>
  <!-- directives -->
  <script src="/static/client/js/directives/timeline.js"></script>
  <script src="/static/client/js/directives/map.js"></script>
  <script src="/static/client/js/directives/sidepanel.js"></script>


</body>
</html>