{% extends "client/base.html" %}

{% block content %}

<div class="container-fluid">
  
  <div class="row-fluid">
    
    <div class="span12">

      <form method="post" action="">
        {% csrf_token %}

        <fieldset>
          <legend>Login <p class="muted">Sorry, but you have to login to access the required resource.</p></legend>
          
          {% if form.errors %}
            <div class="alert alert-danger">
              Your username and password didn't match. Please try again.
            </div>
          {% endif %}

          <label class="">{{ form.username.label_tag }}
          {{ form.username }}
          </label>

          <label class="">{{ form.password.label_tag }}
          {{ form.password }}
          </label>
          <button type="submit" class="btn" value="login">Login</button>
        </fieldset>

      </form>

    </div>
  </div>

</div>
{% endblock %}