  <div class="row-fluid" id="alert">
    <div class="alert" ng-show="error">
      <button type="button" class="close" ng-click="dismiss()">&times;</button>
      <strong>Error! </strong>{[{error}]}</input>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2">
      <div id="panel">

        <legend>Options</legend>
        <label>Size according to</label>
        <div class="btn-group row-fluid" data-toggle="buttons-radio">
          <button type="button" class="btn span6" >Anomalies</button>
          <button type="button" class="btn span6">Sentiment</button>
        </div>

        <div side-panel request="{[{request}]}" error="{[{error}]}"></div>

      </div>
    </div>

    <div class="span10" id="map">
      <map grid="grid" cells="cells"></map>
    </div>
  </div>

    <div class="row-fluid">
      
      <!-- Timeline -->
      <div class="span12 breath" id="timeline">
        <legend>Timeline</legend>
        <div timeline-focus request="{[{request}]}" error="{[{error}]}"></div>
        <div timeline-context request="{[{request}]}" error="{[{error}]}"></div>
      </div>

    </div>

     <div class="row-fluid">
      <div class="span12 breath" id="view">
        <legend>Views</legend>
      </div>
    </div>
  