div.row-fluid
	div.span4 
	div.span4.about
		div
			p
				a(class='btn', href='/mdw') Milano Design Week 2013
			p
				a(class='btn', href='/mfw') Milano Fashion Week 2013
			p
				a(class='btn', href='/lcg') Lucca Comics 2013
	div.span4
