div#alert.row-fluid
	div.alert(ng_show="error")

		button.close(type="button", ng-click="dismiss()") &times;
		strong Error!
			{{error}}


div.row-fluid
	div.span2
		div#panel

			h6 Color by
				select.show-tick.span12(selectpicker, ng-model="color", ng-options="c.label for c in colorList")
			h6 Size by
				select.show-tick.span12(selectpicker, ng-model="size", ng-options="c.label for c in sizeList")
			
			div(side-panel, request="{{request}}")

	div#map.span10
		div(map, grid="grid", request="request", color="color", size="size")

div.row-fluid
	div.span12.breath
		h2 Timeline
		div.multiline(multiline-focus, request="{{request}}", error="{{error}}")
		div.multiline(multiline-context, request="{{request}}", error="{{error}}")

div.row-fluid
	div.span12.breath
		h2 Events
		div(event-list, request="request", error="error")

div.row-fluid
	div.span12.breath
		h2 Network
		//div(network, request="{{request}}", error="{{error}}")