div#alert.row-fluid
	div.alert(ng_show="error")

		button.close(type="button", ng-click="dismiss()") &times;
		strong Error!
			{{error}}


div.row-fluid
	div.span2
		div#panel

			legend Current selection

			// Color by
			div.dropdown.selector
				button.btn.dropdown-toggle(data-toggle="dropdown")
					span.pull-left.filter-option Color by {{color.label}}
					span.caret
				ul.dropdown-menu(role="menu", aria-labelledBy="dLabel")
					li(ng-repeat="c in colorList", role="presentation", class="{{color.label == c.label ? 'selected' : ''}}")
						a(data-target="#", tabindex="-1", role="menuitem", ng-click="chooseColor(c)")
							span {{c.label}}
							i.icon-ok.check-mark
			// Color legend
			div(map-legend)

			// Size by
			div.dropdown.selector
				button.btn.dropdown-toggle(data-toggle="dropdown")
					span.pull-left.filter-option Size by {{size.label}}
					span.caret
				ul.dropdown-menu(role="menu", aria-labelledBy="dLabel")
					li(ng-repeat="c in sizeList", role="presentation", class="{{size.label == c.label ? 'selected' : ''}}")
						a(data-target="#", tabindex="-1", role="menuitem", ng-click="chooseSize(c)")
							span {{c.label}}
							i.icon-ok.check-mark

			div(side-panel, request="{{request}}")

			legend Options
			
			label.checkbox
				input(type="checkbox", ng-model="showMap")
				span Show streets on map

			label Anomaly exponent
				input.span12(type="text", ng-model="anomalyExponent")

			label Anomaly dimension
				input.span12(type="text", ng-model="anomalyDimension")


	div#map-wrap.span10

		div#map.row-fluid
			div(map)
		//div(map-info, request="request")

		
		div#timeline.row-fluid
			div.span12.timeline-wrap

				ul#selection.unstyled

					li#period.muted.pull-left

						div
							ul.unstyled.inline.muted
								strong Cells
								li(ng-show="!request.cells.length") All
								li.small(ng-repeat="cell in request.cells"){{cell}}
							p
								strong Time 
								span.small From {{request.start | toDateTime}} to {{request.end | toDateTime}}

					li.pull-right
						button.span12.btn.btn-small.text-center(type="button", ng-click="clearSelection()") Clear selection

					li.clearfix


				div.multiline(multiline-focus)
				div.multiline(multiline-context)
				div.pull-left(time-legend, color="color", size="size")
		
	
		div.row-fluid
			div.span12.breath

				ul#myTab.nav.nav-tabs
					li.active
						a(href="#areas", data-toggle="tab") Areas
					li
						a(href="#events", data-toggle="tab") Events
					li
						a(href="#network", data-toggle="tab") Network
					li
						a(href="#flows", data-toggle="tab") Flows

		div#eventlist.row-fluid
			div.span12.breath.tab-content
				div.row-fluid.active.tab-pane(id="areas")
					div.span12(area-list)
				div.row-fluid.tab-pane(id="events")
					div.span12(event-list)
				div.row-fluid.tab-pane(id="network")
					div.span12(network)
				div.row-fluid.tab-pane(id="flows")
					div.row-fluid
						div.span1
							p Twitter
						div.span2.offset4.text-center
							p Fuorisalone.it
						div.span1.offset4.text-center
							p Foursquare
					div.row-fluid
						div.span6(flows-one)
						div.span6(flows-two)

script.
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})