div#alert.row-fluid
	div.alert(ng_show="error")

		button.close(type="button", ng-click="dismiss()") &times;
		strong Error!
			{{error}}


div.row-fluid
	div.span2
		div#panel

			
			label.checkbox
				input(type="checkbox", ng-model="showMap")
				span Show streets

			h6 Color by
				select.show-tick.span12(selectpicker, ng-model="color", ng-options="c.label for c in colorList")
			div(map-legend)
			h6 Size by
				select.show-tick.span12(selectpicker, ng-model="size", ng-options="c.label for c in sizeList")
			
			div(side-panel, request="{{request}}")

	div#map.span10
		div(map, grid="grid", request="request", color="color", size="size", show-map="showMap")

div.row-fluid
	div.span12.breath
		h2 Timeline
		div.multiline(multiline-focus, request="{{request}}", error="{{error}}")
		div.multiline(multiline-context, request="{{request}}", error="{{error}}")
		div(time-legend)


div.row-fluid
	div.span12.breath

		ul#myTab.nav.nav-tabs
			li.active
				a(href="#events", data-toggle="tab") Events
			li
				a(href="#network", data-toggle="tab") Network
			li
				a(href="#flows", data-toggle="tab") Flows


div.row-fluid
	div.span12.breath.tab-content
		div.row-fluid.active.tab-pane(id="events")
			div.span12(event-list, request="request", error="error")
		div.row-fluid.tab-pane(id="network")
			div.span12(network, request="{{request}}", error="{{error}}")
		div.row-fluid.tab-pane(id="flows")
			div.span12(flows, request="{{request}}", error="{{error}}")

script.
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})