div#alert.row-fluid
	div.alert(ng_show="error")

		button.close(type="button", ng-click="dismiss()") &times;
		strong Error!
			{{error}}


div.row-fluid
	div.span2
		div#panel

			legend Map options
			
			label.checkbox
				input(type="checkbox", ng-model="showMap")
				span Show streets

			// Color by
			div.dropdown.selector
				button.btn.dropdown-toggle(data-toggle="dropdown")
					span.pull-left.filter-option Color by {{color.label}}
					span.caret
				ul.dropdown-menu(role="menu", aria-labelledBy="dLabel")
					li(ng-repeat="c in colorList", role="presentation", class="{{color.label == c.label ? 'selected' : ''}}")
						a(data-target="#", tabindex="-1", role="menuitem", ng-click="chooseColor(c)")
							span {{c.label}}
							i.icon-ok.check-mark
			// Color legend
			div(map-legend)

			// Size by
			div.dropdown.selector
				button.btn.dropdown-toggle(data-toggle="dropdown")
					span.pull-left.filter-option Size by {{size.label}}
					span.caret
				ul.dropdown-menu(role="menu", aria-labelledBy="dLabel")
					li(ng-repeat="c in sizeList", role="presentation", class="{{size.label == c.label ? 'selected' : ''}}")
						a(data-target="#", tabindex="-1", role="menuitem", ng-click="chooseSize(c)")
							span {{c.label}}
							i.icon-ok.check-mark
			label Anomaly exponent
				input.span12(type="text", ng-model="anomalyExponent")

			label Anomaly dimension
				input.span12(type="text", ng-model="anomalyDimension")
			//
				h6 Color by
					select.show-tick.span12(selectpicker, ng-model="color", ng-options="c.label for c in colorList")
				div(map-legend)
				h6 Size by
					select.show-tick.span12(selectpicker, ng-model="size", ng-options="c.label for c in sizeList")
			
			div(side-panel, request="{{request}}")

	div#map-wrap.span10
		div#map
			div(map)
		div(map-info, request="request")

div#timeline.row-fluid
	div.span12.breath
		legend Timeline
		div.multiline(multiline-focus)
		div.multiline(multiline-context)
		div.pull-left(time-legend)
		span#period.muted.small.pull-right
			strong Period selected: 
			span from: {{request.start | toDateTime}} to {{request.end | toDateTime}}


div.row-fluid
	div.span12.breath

		ul#myTab.nav.nav-tabs
			li.active
				a(href="#events", data-toggle="tab") Events
			li
				a(href="#network", data-toggle="tab") Network
			li
				a(href="#flows", data-toggle="tab") Flows


div#eventlist.row-fluid
	div.span12.breath.tab-content
		div.row-fluid.active.tab-pane(id="events")
			div.span12(event-list)
		div.row-fluid.tab-pane(id="network")
			div.span12(network)
		div.row-fluid.tab-pane(id="flows")
			div.span12(flows)

script.
	$('#myTab a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})