/* app css stylesheet */
body,
html {
  margin: 0px;
}

h2 {
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 16px;
}

h6 {
  font-size: 12px;
}


#map {
  background-color: #ffffff;
 /* -moz-box-shadow: inset 3px 0px 3px -1px #ddd;
  -webkit-box-shadow: inset 3px 0px 3px -1px #ddd;
  box-shadow: inset 3px 0px 3px -1px #ddd;
  */
  height: 600px;
}

#panel {
  background-color: #ffffff;
/*  padding: 20px 0px 0px 20px;
  margin-right: -15px;*/
  margin: 20px 0px 20px 30px;
}

#timeline {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  min-height: 100px;
}

#view {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.breath {
  padding: 20px;
}

#header .navbar-inner {
  background-color: #fff;
  background-image: none;
   /* -moz-box-shadow: inset 3px 0px 3px -1px #ddd;
  -webkit-box-shadow: inset 3px 0px 3px -1px #ddd;
  box-shadow: inset 3px 0px 3px -1px #ddd;
  */
}

.navbar-masthead .navbar-inner {
  padding: 10px 30px;
}

.navbar-masthead .nav > li > a.brand{
  font-weight: 200;
  font-size: 28px;
  font-family: "Open Sans";
}

.navbar-masthead .nav > li > a {
  color: rgb(46, 185, 197);
  text-shadow: none;
}

.navbar-masthead .nav > li > a:hover {
  color: #444;
}

.navbar-text {
  color: #999;
}

.btn {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn.active, .btn:active {

}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  outline: none;
  margin-bottom: 0px;
}

.bootstrap-select .btn:focus {
  outline: 0px dotted #333333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.bootstrap-select.btn-group .btn .filter-option {
  font-weight: normal;
}

legend {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  border: none;
  border-bottom: none;
}


.dropdown-menu {
  padding: 6px 0;
}

#alert {
  position: fixed;
  top: 0px;
}


/* Map */

.leaflet-control-zoom, .leaflet-control-layers {
  border: 1px solid #dddddd;
}

.leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: -9px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

.leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: none;
}

.leaflet-tile-pane {
  opacity: .3;
}

.leaflet-bar {
  box-shadow: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

path.cell {
  fill-opacity: 0.7;
  stroke-width: 0;
}

/* Timeline */

.timeline {
  width: 100%;
}

.axis line, .axis path {
  stroke: black;
  fill: none;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}cyber

rect.bar {
  shape-rendering: crispEdges;
  fill: #ddd;
  stroke: #fff;
  stroke-width: 1px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


.multiline path.line {
  fill-opacity: .05;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.cell {
  cursor:pointer;
}

.cell:hover {
  fill-opacity:1;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.link {
  stroke: #999;
  stroke-opacity: .1;
}

.graph-container {
  margin: 0 auto;
}



.bars ul {
    list-style-type: none;
    margin: 0px;
    height: 200px;
    overflow: scroll;
}

.bars ul li {
  position: relative;
  font-size: 12px;
}

.bars .filter-item {
  padding: 2px 8px;
  text-decoration: none;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
  display: block;
}

.bars ul li span.bar {
  position: absolute;
  background-color: #eee;
  display: inline-block;
  width: 0%;
  top: 2px;
  bottom: 2px;
  right: 0px;
  z-index: -1;
}

.bars ul li span.count {
  float: right;
  font-weight: bold;
}



.legend {
  width:20px;
  height: 20px;
}

.social-activity {
  background-color: #ff7f0e;
  width:20px;
  height: 2px;
  float: left;
  margin: 8px 10px 0px 0px;
}

.mobile-anomaly{
  background-color: #1f77b4;
  width:20px;
  height: 2px;
  float: left;
    margin: 8px 10px 0px 0px;

}