/* app css stylesheet */
body,
html {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0px;
}

h2 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

label, input, button, select, textarea {
  font-size: 13px;
  line-height: 22px;
}

.small {
  font-size: 11px;
}

#map {
  background-color: #ffffff;
  height: 620px;
}

#map-wrap {
  background-color: #ffffff;
  /*-moz-box-shadow: inset 2px 0px 3px -1px #eee;
  -webkit-box-shadow: inset 2px 0px 3px -1px #eee;
  box-shadow: inset 2px 0px 3px -1px #eee;
  */
  border-left: 1px solid #eee;
}

#map-info {
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  padding: 8px;
  font-size: 12px;
}

#map-info ul {
  margin-bottom: 0px;
}


#panel {
  background-color: #ffffff;
/*  padding: 20px 0px 0px 20px;
  margin-right: -15px;*/
  margin: 20px 0px 20px 30px;
}

#timeline {
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  min-height: 100px;
}

.timeline-wrap {
  padding: 25px 15px 20px 15px;
}

#eventlist {
}

#view {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.breath {
  padding: 20px 30px;
}

#header .navbar-inner {
  background-color: rgb(66, 226, 188);
  background-image: none;
  border: none;
   /* -moz-box-shadow: inset 3px 0px 3px -1px #ddd;
  -webkit-box-shadow: inset 3px 0px 3px -1px #ddd;
  box-shadow: inset 3px 0px 3px -1px #ddd;
  */
}

.navbar-masthead .navbar-inner {
  padding: 10px 30px;
}

.navbar-masthead .nav > li > a.brand{
  font-weight: 200;
  font-size: 28px;
  font-family: "Open Sans";
}

.navbar-masthead .nav > li > a {
  color: #fafafa;
  text-shadow: none;
  font-family: "Open Sans";
}

.navbar-masthead .nav > li > a:hover {
  color: #fff;
}

.navbar-text {
  color: #fafafa;
  font-family: "Open Sans";
}

.nav {
  margin-bottom: 0px;
}

.btn {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn.active, .btn:active {

}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
  outline: none;
  margin-bottom: 0px;
}

.bootstrap-select .btn:focus {
  outline: 0px dotted #333333 !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.bootstrap-select.btn-group .btn .filter-option {
  font-weight: normal;
}

legend {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  border: none;
  margin-bottom: 5px;
  margin-top: 15px;
}


.dropdown-menu {
  padding: 6px 0;
}

#alert {
  position: fixed;
  top: 0px;
}


/* Map */

.leaflet-control-zoom, .leaflet-control-layers {
  border: 1px solid #dddddd;
}

.leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: -9px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

.leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: none;
}


.leaflet-bar {
  box-shadow: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

path.back {
  fill-opacity: 0;
  shape-rendering: crispEdges;
}

.cell.selected path.back,
.cell:hover path.back {
  stroke: #777777;
  stroke-width: 1px;
}

path.front {
  opacity: 0.7;
  stroke-width: 0;
}

.cell:hover path.front {
  opacity: 1;
}

.popover {
  width: 280px;
}

/* Timeline */

.timeline {
  width: 100%;
}

.axis line, .axis path {
  stroke: #aaa;
  fill: none;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #888;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

rect.bar {
  shape-rendering: crispEdges;
  fill: #ddd;
  stroke: #fff;
  stroke-width: 1px;
}

.brush .extent {
  stroke: none;
  stroke-width: 0;
  fill: #aaa;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.brush .extent:hover {

}

.multiline line.highlight {
  stroke: #888;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 3px;
}


.multiline path.area {
  fill-opacity: 0;
  fill: none;
  stroke-width: 2px;
  stroke-opacity: .6;
}

.multiline path.line {
  fill: none;
    stroke-width: 2px;

  stroke-opacity: .2;
}

.mask polygon {
  fill: #f8f8f8;
}

.resize path {
  fill: #eee;
  stroke: #666;
}

.cell {
  cursor:pointer;
}

.cell:hover {
  fill-opacity:1;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.link {
  stroke: #999;
  stroke-opacity: .1;
}

.graph-container {
  margin: 0 auto;
}

#period {
  padding-right: 30px;
}

.bars ul {
    list-style-type: none;
    margin: 0px;
    height: 170px;
    overflow: scroll;
}

.bars ul li {
  position: relative;
  font-size: 12px;
}

.filter-item {
  padding: 0px 0px;
  text-decoration: none;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;

}

.bars ul li span.bar {
  position: absolute;
  background-color: #eee;
  display: inline-block;
  width: 0%;
  top: 2px;
  bottom: 2px;
  right: 0px;
  z-index: -1;
}

.bars span {
}

.bars ul li span.count {
  float: right;
  font-weight: bold;
}

#traffic {
  height: 100%;
  overflow: hidden;
}

#map-legend {
  width: 100%;
}

#map-legend li.legend {
  width:20%;
  height: 10px;
  padding: 0px;
  margin: 0px;
  opacity: .8;
}

#map-legend li.legend:hover {
  opacity: 1;
}

.social-activity {
  background-color: #F0965B;
  width:20px;
  height: 2px;
  float: left;
  margin: 10px 10px 0px 0px;
}

.mobile-anomaly{
  background-color: #6CC5F0;
  width:20px;
  height: 2px;
  float: left;
  margin: 10px 10px 0px 0px;

}

.time-legend{
  width:20px;
  height: 2px;
  float: left;
  margin: 10px 10px 0px 0px;

}


div[flows-one],
div[flows-two] {
  text-align: center;
}

.upper {
  text-transform: uppercase;
  font-weight: 600;
}

.loading {
  background: url('../img/loading.gif') no-repeat center;
  width: 20px;
  height: 20px;
}

.selector {
  margin-bottom: 5px;
}

.selector,
.selector .btn,
.selector ul {
  width: 100%;
}

.selector .caret {
  position: absolute;
  right: 12px;
}

.selector li {
  cursor: pointer;
}

.selector li a i.check-mark {
  display: none;
}

.selector .filter-option {
  font-size: 11px;
  font-weight: bold;
  color: #666;
}

.selector li.selected a i.check-mark {
  display: block;
}

dl {
  margin-bottom: 10px;
}

.table thead th {
  text-transform: uppercase;
  font-size: 11px;
  color: #666;
}

table {
  font-size: 12px;
}

.marker {
  opacity: .6;
  cursor: pointer;
}

.marker:hover {
  opacity: 1;
}

.popover .popover-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

#spinner-container {
  bottom: 0;
  top: 0;
  position: fixed;
  z-index: 2000;
  opacity: .7;
  display: none;
  right: 0;
  left: 0;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

[side-panel] {
  margin-bottom: 50px;
}

#selection {
  margin-bottom: 15px;
  padding: 0px 15px;
}