<input type="text" ng-model="searchEvent" placeholder="Search..." class="span2"></input>
<p ng-show="!events.length">Sorry, no events found for the current selection.</p>
<pagination num-pages="bigNoOfPages" current-page="bigCurrentPage" max-size="maxSize" class="pagination-mini text-center" boundary-links="true" on-select-page="selectPage(page)"></pagination>

<table class="table table-striped" ng-show="events.length">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Address</th>
			<th>Start</th>
			<th>End</th>
			<th>4S categories</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="event in events | filter:searchEvent">
			<td><i class="icon-map-marker marker" ng-click="select(event)" title="Select"></i></td>
			<td>{{event.name}}</td>
			<td>{{event.address | titleCase }}</td>
			<td>{{event.date[0] | toDate }}</td>
			<td>{{event.date[1] | toDate }}</td>
			<td><ul class="unstyled inline"><li ng-repeat="category in event.venues.categories">{{category.label}} </li></ul></td>
		</tr>
	</tbody>
</table>

<pagination num-pages="bigNoOfPages" current-page="bigCurrentPage" max-size="maxSize" class="pagination-mini text-center" boundary-links="true" on-select-page="selectPage(page)"></pagination>
