<input type="text" ng-model="searchEvent" placeholder="Search..." class="span2"></input>
<p ng-show="!events.length">Sorry, no events found for the current selection.</p>
<table class="table table-striped" ng-show="events.length">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Address</th>
			<th>Start</th>
			<th>End</th>
			<th>Foursquare categories</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="event in events | filter:searchEvent">
			<td>{{$index+1}}</td>
			<td ng-click="select(event)">{{event.name}}</td>
			<td>{{event.address | titleCase }}</td>
			<td>{{event.date[0] | toDate }}</td>
			<td>{{event.date[1] | toDate }}</td>
			<td><ul class="unstyled inline"><li ng-repeat="category in event.venues.categories">{{category.label}} </li></ul></td>
		</tr>
	</tbody>
</table>