<div class="input-append" id="inoutSearch" >
	<input type="text" ng-model="searchContact.countryCode" placeholder="Search City or Country"></input>
    <button type="button" class="btn" ng-model="searchContact.location" btn-radio="'national'">National</button>
    <button type="button" class="btn" ng-model="searchContact.location" btn-radio="'international'">International</button>
</div>
<div id="callBars" ng-show="inout"></div>
<p ng-show="!inout.length">Sorry, no calls data found for the current selection.</p>

<table class="table table-striped" ng-show="inout">
	<thead>
		<tr>
			<th>Place</th>
			<th style="text-align:center">Calls amount</th>
			<th>Type</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in inout | filter:searchContact:inoutComparator">
			<td>{{contact.countryCode }}</td>
			<td style="text-align:center">{{contact.count}}</td>
			<td>{{contact.type }}</td>
			<td>{{contact.location }}</td>
		</tr>
	</tbody>
</table>
