<div class="bars">
	<h6>Hashtags</h6>
	<ul> 
	    <li ng-repeat="hashtag in hashtags | orderBy:'value':true"> 
      		<span class="bar" style="width:20%"></span>
      		<div class="filter-item">
          		<span class="count">{{hashtag.value}}</span> 
          		{{hashtag.label}}
          	</div>
	    </li> 
  	</ul> 
</div>


<dl>
	<dt>Calls in</dt>
	<dd>{{callsIn}}</dd>
	<dt>Calls out</dt>
	<dd>{{callsOut}}</dd>
	<dt>Messages in</dt>
	<dd>{{messagesIn}}</dd>
	<dt>Messages out</dt>
	<dd>{{messagesOut}}</dd>
	<dt>Data traffic</dt>
	<dd>{{dataTraffic}}</dd>
</dl>
