<div class="bars">
	<legend>Mobile traffic</legend>
	<ul id="traffic">
		<li>
			<div class="filter-item">
				<span class="count">{{callsIn|truncate}}</span>
				<span class="small upper">Calls in</span>
			</div>
		</li>
		<li>
			<div class="filter-item">
				<span class="count">{{callsOut|truncate}}</span>
				<span class="small upper">Calls out</span>
			</div>
		</li>
		<li>
			<div class="filter-item">
				<span class="count">{{messagesIn|truncate}}</span>
				<span class="small upper">Messages in</span>
			</div>
		</li>
		<li>
			<div class="filter-item">
				<span class="count">{{messagesOut|truncate}}</span>
				<span class="small upper">Messages out</span>
			</div>
		</li>
		<li>
			<div class="filter-item">
				<span class="count">{{dataTraffic|truncate}}</span>
				<span class="small upper">Data traffic</span>
			</div>
		</li>
	</ul>
</div>

<div class="bars">
	<legend>Twitter Hashtags</legend>
	<input type="text" ng-model="searchHashtag" placeholder="Search..." class="span12"></input>
	<ul id="hashtags"> 
	    <li ng-repeat="hashtag in hashtags | filter:searchHashtag | orderBy:'value':true"> 
      		<span class="bar" style="width:20%"></span>
      		<div class="filter-item">
          		<span class="count">{{hashtag.value}}</span> 
          		{{hashtag.label}}
          	</div>
	    </li> 
  	</ul> 
</div>

<script>
	$('#hashtags').slimScroll({
	    height: '175px'
	});
</script>