  <div class="row-fluid">
    <div class="span2">
      <div id="panel">

        <legend>Options</legend>
        <label>Size according to</label>
        <div class="btn-group row-fluid" data-toggle="buttons-radio">
          <button type="button" class="btn span6 active" data-toggle="button" active>Anomalies</button>
          <button type="button" class="btn span6" data-toggle="button">Sentiment</button>
        </div>
      </div>
    </div>

    <div class="span10" id="map">
    </div>
  </div>

    <div class="row-fluid">
      <div class="span12 breath" id="timeline">
        <legend>Timeline</legend>
      </div>
    </div>

     <div class="row-fluid">
      <div class="span12 breath" id="view">
        <legend>Views</legend>
      </div>
    </div>